!!! 5
html
  head
    script(src="/javascripts/jquery-1.7.2.min.js")
    title blog titulo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1.right Warped
        h1 
          a(href="#") Warped
        br/
        ul#nav
            li(class='right')
              input(type="text", value="Search...")
            li
              a(href="#intro") Introduction
            li
              a(href="#about") About
            li
              a(href="#examples") Examples
            li 
              a(href="#contact") Contact

      div.clear

      div#sidebar
        h2 Latest News or Comments

        p.news An example of a "latest news" type text area. Here would be the excerpt of the article. You can of course put anything you like here. 
          a(href="#", class="more") Read More »

        p.news An example of a "latest news" type text area. Here would be the excerpt of the article. You can of course put anything you like here. 
          a(href="#", class="more") Read More »

        p.news An example of a "latest news" type text area. Here would be the excerpt of the article. You can of course put anything you like here. 
          a(href="#", class="more") Read More »

        h2 Sub Navigation

        ul
          li
            a(href="#intro") Introduction
          li
            a(href="#about") About
          li
            a(href="#examples") Examples
          li 
            a(href="#contact") Contact

        h2 Search
        input(name="", type="text", value="Search...")
      
      div#content!= body

      #footer
        a(href="http://www.piribisoft.com") PiribiSoft